* {
    margin:0;
    padding:0;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
}


.composition {

    &__photo {
        
        position: relative;  
        width: 55%;
        transition: all .2s;
        outline-offset: 1rem;
        border-radius: 2px;
    &-1 {
        top:-1rem;
        left: -2rem;
       
    }
    &-2 {
        top:-11rem;
        left:13rem ;
       
    }
    &-3 {
        top:-19rem;
        left:4rem ;
       
    }

    &:hover {
        transform: scale(1.2);
        z-index: 10;
        outline: .5rem solid #ffb900 ;
    }

    }
}


.button {
     color:#ffb900;
     text-decoration: none;
     border-bottom: 1px solid #ffb900;
     padding: 5px 10px;

     &:hover {
         background-color: #ffb900;
         color: white;
     }
}

.heading-span {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.1rem;
}


.heading-secendary {
    background-image: linear-gradient(to right,#ffb900,#ff7730);
    color:transparent;
    letter-spacing: .1rem;
    text-transform: uppercase;
    -webkit-background-clip: text;
    transition: all .2s;
    font-size: 2.3rem;
    margin-top: 3rem;
    &:hover {
        transform: skewX(1.2deg) skewY(1.5deg);

    }
}









.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-center-text {
    text-align: center;
}





$grid-width:70rem;
$gutter-vertical: 4rem;
$gutter-horizontal:3rem;


@mixin  clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


.row {
    max-width:$grid-width;
  //  background-color: #eee;
    margin: 0 auto;
    margin-top: 5rem;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    //Atribute selector //all atribute starting with 'col'-
    [class^="col-"]  {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }


    .col-1-of-2 {
        width: calc( (100% - #{$gutter-horizontal} ) / 2 );
       
    }

    .col-1-of-3 {
        width: calc( (100% - 2 * #{$gutter-horizontal} ) / 3 );
    }

    
    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal} ) / 4 );
    }

    .col-2-of-3 {
        width: calc( 2 * ((100% - 2 * #{$gutter-horizontal} ) / 3 ) + #{$gutter-horizontal});
    }


    .col-2-of-4 {
        width: calc( 2 *(100% - 3 * #{$gutter-horizontal} ) / 4 + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc( 3 * (100% - 3 * #{$gutter-horizontal} ) / 4 + 2 * #{$gutter-horizontal});
    }
}

